section.dashboard
  padding: 1rem 0
  
  .alba-logo
    padding: 1rem 0
    +breakpoint(sm)
      padding: 2rem 0
    img
      max-width: 140px
      +breakpoint(sm)
        max-width: 100%

  .username-description
    p
      font-weight: 700
      color: $azul
      +font-size(16px)
      +breakpoint(sm)
        +font-size(20px)