section.dashboard
  padding: 1rem 0
  
  .alba-logo
    padding: 1rem 0
    +breakpoint(sm)
      padding: 2rem 0
    img
      max-width: 140px
      +breakpoint(sm)
        max-width: 100%

  .username-description
    p
      font-weight: 700
      color: $azul
      +font-size(16px)
      +breakpoint(sm)
        +font-size(20px)


section.client-list
  .table-list
    overflow-x: auto
    .heading-table
      display: flex
      align-items: center
      .heading-part
        width: 25%
        &.search-user
          width: 58%
        &.user-status-total-tested,
        &.user-status-total
          p
            text-align: right
            font-weight: 700
            span
              color: $laranja
        &.add-new
          width: 12%
    
    .body-table
      ul
        display: flex
        margin-bottom: 10px
        &.table-head
          margin-bottom: 0
          padding-top: 3rem
          li
            background-color: $branco
            font-weight: 700
            text-overflow: initial
        li
          color: $azul
          overflow-x: hidden
          overflow-y: hidden
          text-overflow: ellipsis
          width: 100%
          background-color: $fundo-da-pagina
          padding: 10px
          line-height: 20px
          +font-size(14px)
          &:first-child
            max-width: 80px
          &.client-email
            white-space: nowrap
          ul.event-list
            display: block
            li
              padding: 0
              max-width: initial

  .footer-pagination
    padding: 2rem 0 0
    display: flex
    justify-content: space-between
    .pagination
      align-items: center

      .paginate-number
        margin-right: 2rem

      .info
        margin-right: 2rem
      .arrows
        width: 140px
        ul
          display: flex
          li
            a
              color: $azul
              width: 34px
              display: inline-block
              +font-size(18px)
              text-align: center

.box-cadastro
  padding: 1rem
  +breakpoint(sm)
    padding: 2rem 1rem
.form-cadastro
  background-color: $fundo_da_pagina
  padding: 1rem 0
  +breakpoint(sm)
    padding: 2rem 0

.form-wire
  border: 1px solid $fundo_da_pagina
  padding: 2rem 1rem
  h3
    color: $azul
    font-weight: 700
    +font-size(20px)
    margin-bottom: 3rem

  .side-input
    margin-bottom: 3rem
    h4
      +font-size(16px)
      font-weight: 700
      color: $azul
      width: 10%

    > div
      width: 45%
      padding: 0 1rem
      &:last-child
        label
          select
            padding-top: 8px
            padding-bottom: 8px
            width: 100%

  .box-evento
    border-bottom: 1px solid $cinza-fundo
    margin-bottom: 1rem
    h4
      color: $azul
      font-size: 18px
      font-weight: 700
      margin-bottom: 20px

    .side-input
      margin-bottom: 1.5rem


[result-doc]
  display: none
  &.active
    display: block