form

  label
    font-family: $font-default

  .input-text
    label
      display: block
      color: $cinza-paragrafo
      span
        &:first-of-type
          margin-bottom: 10px
          display: block
      input
        width: 100%
        +border-radius(5px)
        border: 1px solid #B2B2B2
        padding: 8px

  .input-password
    label
      position: relative
      .password-toggle
        color: $cinza-paragraph
        position: absolute
        right: 10px
        bottom: 10px
        &.is-reveal
          &:before
            content: ''
            width: 22px
            height: 2px
            top: 7px
            right: -1px
            background-color: $cinza-paragraph
            position: absolute
            +transform(rotate(-45deg))

  .input-submit
    input, button
      background-color: $laranja
      color: $branco
      text-transform: uppercase
      border: 0
      width: 100%
      padding: 8px

  .input-search
    label
      position: relative
      button
        background-color: $transparent
        border: 0
        top: 6px
        right: 10px
        position: absolute

.btn-site
  display: inline-block
  padding: 10px 15px
  text-align: center
  background-color: $laranja
  color: $branco
  text-transform: uppercase
  font-family: $font-default
  font-weight: 700
  width: auto
  +border-radius(5px)
  +default_transition()
  &:hover
    color: $branco
    text-decoration: none
    +filter(brightness(0.9))